<template>
  <div class="all-cart">
    <!--<ul v-for="cart in allCarts" :key="cart.id">
        <li>ID Cart: {{cart.id}}</li>
    </ul>
    -->
    <header>
        <nav class="arrow-all-cart">
            <router-link to="/">
                <i class="bi bi-arrow-left icon-arrow-all-cart"></i>
            </router-link>
        </nav>
        <span class="title-16 fw-600 title-banner-all-cart">Daftar Keranjang</span>
    </header>

    <section class="all-cart-wrap">
        <div class="all-cart-group" v-if="this.$store.state.cart.length">
            <div class="header-group d-flex flex-row">
                <img src="@/assets/woishop.png" width="15.83" height="19.83" class="mt-1">
                <p class="title-16 fw-600 ms-2" style="color: #03AC0E">WoiShop</p>
                <p class="chips-allcart-new title-8 fw-600">Baru</p>
            </div>
            <hr class="border-cart-solid">
            <div class="body-group">
                <p class="title-14 fw-400" style="color: #7A7A7A">Total pesanan {{this.$store.getters.cartItemCount}} produk</p>
                <p class="title-16 fw-600 mt">Rp. {{(this.$store.getters.cartTotalPrice * 1000).toLocaleString()}}</p>
                <p class="title-12 fw-400 mt" style="color:  #7A7A7A">21 April 2021 - 13.00</p>
            </div>
        </div>
        <div class="all-cart-group" v-for="cart in allCarts" :key="cart.id">
            <div class="header-group d-flex flex-row">
                <img src="@/assets/woishop.png" width="15.83" height="19.83" class="mt-1">
                <p class="title-16 fw-600 ms-2" style="color: #03AC0E">WoiShop {{cart.id}}</p>
                <p class="chips-allcart-end title-8 fw-600">Selesai</p>
            </div>
            <hr class="border-cart-solid">
            <div class="body-group">
                <p class="title-14 fw-400" style="color: #7A7A7A">Total pesanan {{cart.totalQuantity}} produk</p>
                <p class="title-16 fw-600 mt">Rp. {{(cart.total * 1000).toLocaleString()}}</p>
                <p class="title-12 fw-400 mt" style="color:  #7A7A7A">21 April 2021 - 13.00</p>
            </div>
        </div>
    </section>
  </div>
</template>

<script>
import axios from 'axios'
export default {
    data(){
      return {
        allCarts: []
      }
    },
    mounted() {
      this.getAllCart()
    },
    methods: {
        async getAllCart() {
            try {
                const res = await axios.get('https://dummyjson.com/carts');
                this.allCarts = res.data.carts;
                console.log(this.allCarts);
            } catch(e) {
                console.log(e);
            }
        }
    }
}
</script>

<style>
    .all-cart {
        margin: 0 auto;
        padding: 0 auto;
        min-height: 100vh;
        width: 375px;
        height: 3500px;
        box-sizing: border-box;
        background-color: #FFFFFF; 
        border: 1px solid black;
    }

    .chips-allcart-new {
        color: #FFFFFF;
        width: 43px;
        height: 20px;
        background-color: #31B057;
        border-radius: 100px;
        justify-self: flex-end;
        align-self: flex-end;
        margin-left: 170px;
        padding: 4px 12px;
    }

    .chips-allcart-end {
        color: #FFFFFF;
        width: 43px;
        height: 20px;
        background-color: #FF8547;
        border-radius: 100px;
        justify-self: flex-end;
        align-self: flex-end;
        margin-left: 170px;
        padding: 4px 9px;
    }

    .arrow-all-cart {
        position: absolute;
        margin-left: 10px;
    }

    .icon-arrow-all-cart {
        color: #03AC0E;
    }

    .title-banner-all-cart {
        font-weight: 600;
        color: #292929;
        margin-left: 40px;
    }

    .all-cart-wrap {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        padding: 0px;
        gap: 16px;

        position: absolute;
        margin-left: 15px;
    }

    .all-cart-group {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        width: 343px;
        height: 150px;

        /* White / White200 */

        background: #FAFAFA;
        border-radius: 16px;
    }

    .all-cart-group .header-group {
        margin-left: 15px;
        margin-top: 10px;
    }

    .all-cart-group .border-cart-solid {
        width: 343px;
        height: 8px;
        background: #FAFAFA;
        margin-top: 0;
    }

    .all-cart-group .body-group {
        margin-left: 15px;
    }

    .body-group .mt {
        margin-top: -10px;
    }


    .title-16 {
        font-family: 'Rubik';
        font-style: normal;
        font-size: 16px;
        line-height: 24px;
    }

    .title-14 {
        font-family: 'Rubik';
        font-style: normal;
        font-size: 14px;
        line-height: 21px;
    }

    .title-12 {
        font-family: 'Rubik';
        font-style: normal;
        font-size: 12px;
        line-height: 18px;
    }

    .title-8 {
        font-family: 'Rubik';
        font-style: normal;
        font-size: 8px;
        line-height: 12px;
    }

    .fw-600 {
        font-weight: 600;
    }

    .fw-500 {
        font-weight: 500;
    }

    .fw-400 {
        font-weight: 400;
    }
</style>