<!-- eslint-disable vue/multi-word-component-names -->
<template>
  <div class="authentication">
    <div class="header-auth">
        <div class="arrow-auth">
            <router-link to="/register">
                <i class="bi bi-arrow-left icon-arrow-auth"></i>
            </router-link>
        </div>
        <p class="title-16 title-banner-auth">Verifikasi OTP</p>
    </div>
    <div class="icon-auth">
        <img src="@/assets/otp.png" width="253" height="262">
    </div>
    <div class="form-auth">
      <form method="get" class="digit-group" data-group-name="digits" data-autosubmit="false" autocomplete="off">
        <input type="text" id="digit-1" name="digit-1" data-next="digit-2" placeholder="-"/>
        <input type="text" id="digit-2" name="digit-2" data-next="digit-3" data-previous="digit-1" class="ms-2" placeholder="-"/>
        <input type="text" id="digit-3" name="digit-3" data-next="digit-4" data-previous="digit-2" class="ms-2" placeholder="-"/>
        <input type="text" id="digit-4" name="digit-4" data-previous="digit-3" class="ms-2" placeholder="-"/>
        <button type="submit" class="text-white button-auth">Kirim</button>
      </form>
    </div>
  </div>
</template>

<script>
export default {

}
</script>

<style>
  .authentication {
    min-height: 100vh;
    width: 375px;
    height: 844px;
    align-items: center;
    text-align: center;
    box-sizing: border-box;
    background-color: #FFFFFF; 
    border: 1px solid black;
  }

  .header-auth {
    display: grid;
    grid-template-rows: 30% 70%;
    padding: 10px 6px;

    width: 370px;
    height: 54px;

    background: #FFFFFF;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.04);
  }

  .arrow-auth {
    position: absolute;
    margin-left: 15px;
  }

  .icon-arrow-auth {
    color: #03AC0E;
  }

  .title-banner-auth {
    font-weight: 600;
    color: #292929;
    margin-left: 50px;
  }

  .icon-auth {
    margin-top: 30px;
  }

  .digit-group input {
    text-align: center;
    width: 70px;
    height: 70px;
    background: #FAFAFA;
    border-radius: 16px;
    border: none;
    outline: none;
    margin-top: 30px;
  }

  .button-auth {
    align-items: center;
    padding: 16px 24px;

    width: 343px;
    height: 53px;

    background: #03AC0E;
    border-radius: 100px;
    border: none;
    margin-top: 70px;
  }
</style>