<!-- eslint-disable vue/multi-word-component-names -->
<!-- eslint-disable vue/no-parsing-error -->
<!-- eslint-disable vue/multi-word-component-names -->
<!-- eslint-disable vue/valid-template-root -->
<template>
<div class="category">
  <div>
  <header class="header d-flex flex-row">
    <nav class="arrow">
      <router-link to="/categories">
        <i class="bi bi-arrow-left icon-arrow"></i>
      </router-link>
    </nav>
    <!--
    <span class="title-banner ms-2">
        <span>
           {{productCategory}}
        </span>
    </span>
    -->
    <section class="icon-cart-info d-flex flex-row justify-content-end me-2">
      <router-link to="/cart" class="router-info-cart d-flex flex-row justify-content-end me-2">
        <p v-if="cart.length">{{cartItemCount}}</p>
        <i class="bi bi-cart4" width="50" height="50"></i>
      </router-link>
    </section>
  </header>

  <!--<p>Test:  {{ cart }} </p>-->
  <img v-if="loading" src="@/assets/spinner.svg" alt="spinner.svg" class="spinner">
  <main v-else class="card-product d-flex flex-row flex-wrap">
    <section class="card-product-category d-flex flex-column" v-for="product in products" :key="product.category">
      <router-link :to="'/products/'+product.category+'/'+product.id" class="nav-link px-2 text-dark d-flex flex-column">
        <img :src="product.thumbnail" class="card-img-top" alt="product" height="100" >
        <div class="card-body-product-category d-flex flex-column flex-wrap">
          <h5 class="card-title title-12 text-start mt-1 ms-2 text-capitalize text-wrap">{{product.title}}</h5>
          <p class="card-text title-14 fw-600 text-start ms-2 justify-content-end align-items-end position-absolute">Rp. {{(product.price * 1000).toLocaleString()}}</p>
        </div>
      </router-link>
      <button class="btn-cart-info align-items-center position-absolute" @click="addToCart(product)">Tambah</button>
    </section>
  </main>
  </div>
</div>
</template>

<script>
import axios from 'axios'
import Swal from 'sweetalert2'
export default {
    data(){
      return {
        products: [],
        loading: false
      }
    },
    methods: {
      getProductByCategory(data) {
        this.products = data
      },
      addToCart(product) {
        if(this.$store.state.user !== null) {
         this.$store.dispatch('addProductToCart', {
            product, 
            quantity: 1
          })
          Swal.fire(this.cart.length + ' produk berhasil ditambahkan')
        } else {
          Swal.fire('Anda harus Login dulu')
          this.$router.push('/login');
        }
      }
    },
    mounted() {
      this.loading = true;
      axios.get('https://dummyjson.com/products/category/'+this.$route.params.category)
      .then((response) => {
        this.getProductByCategory(response.data.products)
        //this.getCategoryProduct(response.data.products.category)
        })
      .catch((error) => {
        console.log(error)
      }).finally(() => {
        this.loading = false;
      })
    },
    computed: {
        cart() {
            return this.$store.state.cart
        },
        cartItemCount() {
          return this.$store.getters.cartItemCount
        }
    }
}
</script>


<style>

  .category {
    margin: 0 auto;
    padding: 0 auto;
    min-height: 100vh;
    width: 375px;
    height: 667px;
  }

  .header {
    display: grid;
    grid-template-rows: 30% 70%;
    padding: 10px 6px;

    width: 370px;
    height: 54px;

    background: #FFFFFF;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.04);
  }

  .arrow {
    position: absolute;
    margin-left: 15px;
  }

  .icon-arrow {
      color: #03AC0E;
  }

  .icon-cart-info .router-info-cart {
    text-decoration: none;
  }

  .icon-cart-info p {
    font-size: 10px;
    color:#FFFFFF;
    padding: 0px 3px 0px 3px;
    border-radius: 30px;
    background-color: red;
    border-radius: 100px;
  }

  .icon-cart-info .bi-cart4 {
    color: #03AC0E;
  }

/*
  .card {
    display: flex;
    flex-wrap: wrap;
    justify-items: flex-start;
    align-items: flex-start;
    width: 9rem;
    height: 3rem;
    margin-bottom: 10px;
  }
*/

  .card-product-category {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding: 0px;
    gap: 16px;

    width: 104px;
    height: 350px;
  }

  .card-product-category img {
    width: 104px;
    height: 104px;

    border: 1px solid #EBEBEB;
    border-radius: 8px;
  }

  .card-product-category .card-body-product-category {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;

    width: 104px;
    height: 126px;
  }

  .card-body-product-category p {
    margin-top: 70px;
  }

  .card-product-category .btn-cart-info {
    margin-left: 8px;
    margin-top: 230px;
    padding: 8px;

    width: 104px;
    height: 37px;

    /* White / White200 */

    background: #FAFAFA;
    /* hijau */

    border: 1px solid #03AC0E;
    border-radius: 100px;
    color: #03AC0E;
  }

  .spinner {
   margin-left: 25%;
  }

  .title-banner {
      font-weight: 600;
      color: #292929;
      margin-left: 45px;
      display: inline-block;
  }

  .title-16 {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}

.title-14 {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
}

.title-12 {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
}

</style>