<!-- eslint-disable vue/multi-word-component-names -->
<template>
  <div class="detail">

    <header class="header">
      <nav class="arrow">
        <router-link :to="'/products/'+detailproducts.category">
          <i class="bi bi-arrow-left icon-arrow"></i>
        </router-link>
      </nav>
      <section class="icon-cart-info d-flex flex-row justify-content-end me-2">
        <router-link to="/cart" class="router-info-cart d-flex flex-row justify-content-end me-2">
          <p v-if="cart.length">{{cartItemCount}}</p>
          <i class="bi bi-cart4" width="50" height="50"></i>
        </router-link>
      </section>
    </header>

    <img v-if="loading" src="@/assets/spinner.svg" alt="spinner.svg" class="spinner">
    <main v-else class="card-detail">
      <section class="card-detail-product">
          <img :src="detailproducts.thumbnail" alt="" class="thumbnail-detail">
          <p class="chips title-12 fw-600">{{detailproducts.category}}</p>
          <div class="card-body-detail">
            <div class="detail-product">
              <h5 class="card-title title-14 fw-600 text-capitalize">{{detailproducts.title}}</h5>
              <p class="card-price title-14 fw-600" title-12>Rp. {{(detailproducts.price * 1000).toLocaleString()}}</p>
            </div>
            <hr width="343" class="hr-detail">
            <p class="title-14 fw-600 ms-2">Deskripsi Produk</p>
            <p class="title-12 text-capitalize fw-400 ms-2">{{detailproducts.description}}</p>
            <button href="#" class="title-14 fw-600 btn-detail" @click="addToCart()">Tambah Pesanan</button>
          </div>
      </section>
      <!--
      <div class="container">
        <div class="row">
          <section class="card-detail-product mt-2 d-flex flex-column">
                <img :src="detailproducts.thumbnail" alt="" class="thumbnail-detail mt-3">
                <p class="chips title-12 fw-600">Minuman</p>
                <div class="card-body-detail text-start mt-4 d-flex flex-column">
                    <div class="detail-product d-flex flex-column">
                      <h5 class="card-title title-14 text-capitalize">{{detailproducts.title}}</h5>
                      <p class="card-price" title-12><strong>{{detailproducts.price}}000</strong></p>
                    </div>
                    <hr>
                    <p class="title-14">Detail Produk</p>
                    <p class="title-12 text-capitalize">{{detailproducts.description}}
                    </p>
                    <button href="#" class="title-14 btn bg-success text-white" @click="addToCart()">Tambah Pesanan</button>
                </div>
          </section>
        </div>
      </div>
      -->
    </main>

  </div>
</template>

<script>
import axios from 'axios'
import Swal from 'sweetalert2'
export default {
  data(){
    return {
      detailproducts: [],
      loading: false
    }
  },
  methods: {
    getProducts(data) {
      this.detailproducts = data
    },
    addToCart() {
      if(this.$store.state.user !== null) {
        this.$store.dispatch('addProductToCart', {
        product: this.detailproducts, quantity: 1})
        Swal.fire(this.cart.length + ' produk berhasil ditambahkan')
      } else {
        Swal.fire('Anda harus Login dulu')
        this.$router.push('/login');
      }
    }
  },
  mounted() {
    this.loading = true;
    axios.get('https://dummyjson.com/products/'+this.$route.params.id)
    .then((response) => this.getProducts(response.data))
    .catch((error) => console.log(error))
    .finally(() => this.loading = false)
  },
  computed: {
    cartItemCount() {
      return this.$store.getters.cartItemCount;
    },
    cart() {
      return this.$store.state.cart
    }
  }
}

</script>

<style>

  .detail {
    align-items: center;
    margin: 0 auto;
    padding: 0 auto;
    text-align: left;
    min-height: 100vh;
    width: 375px;
    height: 800px;
    background: #FFFFFF;
    border: 1px solid black;
  }

  .thumbnail-detail {
    width: 350px;
  }

  .header {
    display: grid;
    grid-template-rows: 30% 70%;
    padding: 10px 6px;

    width: 370px;
    height: 54px;

    background: #FFFFFF;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.04);
  }

  .arrow {
    position: absolute;
    margin-left: 15px;
  }

  .icon-arrow {
      color: #03AC0E;
  }

  .icon-cart-info .router-info-cart {
    text-decoration: none;
  }

  .icon-cart-info p {
    font-size: 10px;
    color:#FFFFFF;
    padding: 0px 3px 0px 3px;
    border-radius: 30px;
    background-color: red;
    border-radius: 100px;
  }

  .icon-cart-info .bi-cart4 {
    color: #03AC0E;
  }

  .card-detail-product {
    display: flex;
    flex-direction: column;
  }

  .card-detail-product img {
    width: 343px;
    height: 343px;
    border-radius: 10px;
  }

  .card-detail-product .chips {
    position: absolute;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
    margin-top: 365px;
    padding: 4px 10px;
    width: auto;
    height: auto;
    background: #EBEBEB;
    border-radius: 100px;
    color: #7A7A7A;
    margin-left: 7px;
  }

  .cart-body-detail {
    display: flex;
    flex-direction: column;
  }

  .detail-product {
    margin-top: 62px;
    margin-left: 10px;
  }

  .hr-detail {
    width: 343px;
    margin-left: 16px;

    background: #EBEBEB;

  }

  .btn-detail {
    width: 343px;
    height: 53px;
    margin-left: 10px;
    padding: 16px 24px;

    /* hijau */

    background: #03AC0E;
    border-radius: 100px;
    border: none;
    color: #FFFFFF;
  }

  .title-16 {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}

.title-14 {
  font-family: 'Rubik';
  font-style: normal;
  font-size: 14px;
  line-height: 21px;
}

.title-12 {
  font-family: 'Rubik';
  font-style: normal;
  font-size: 12px;
  line-height: 18px;
}

.fw-400 {
  font-weight: 400;
}

.fw-600 {
  font-weight: 600;
}
</style>