<template>
  <div class="login-with-google">
    <div class="shadow-login">
        <div class="login-google">
            <img src="@/assets/woishop.png" width="40" height="51" class="mt-4">
            <p class="title-24 mt-3">Choose an account</p>
            <p class="title-14">to continue to WoiShop</p>
            <div class="user-group mt-5">
                <img src="@/assets/avt1.png" width="32" height="32">
                <p class="title-14 title-username">Reksa Mohammad</p>
                <p class="title-10 title-email">reksa.mohammad@gmail.com</p>
            </div>
            <hr class="border-login"/>
            <div class="user-group mt-4">
                <img src="@/assets/avt1.png" width="32" height="32">
                <p class="title-14 title-username">Reksa Mohammad</p>
                <p class="title-10 title-email">reksa.mohammad@gmail.com</p>
            </div>
            <hr class="border-login"/>
            <div class="user-group mt-4">
                <img src="@/assets/avt1.png" width="32" height="32">
                <p class="title-14 title-username">Reksa Mohammad</p>
                <p class="title-10 title-email">reksa.mohammad@gmail.com</p>
            </div>
            <hr class="border-login"/>
            <div class="user-group mt-4">
                <i class="bi bi-person-plus" width="16" height="14"></i>
                <p class="title-14 title-another-account"><strong> Add another account</strong></p>
            </div>
            <hr class="border-login mt-0"/>
            <p class="title-desc-google mt-3">
                To continue, Google will share your name, email address, and picture with WoiShop
            </p>
        </div>
    </div>
  </div>
</template>

<script>
export default {

}
</script>

<style>
    .login-with-google {
        min-height: 100vh;
        width: 375px;
        height: auto;
        align-items: center;
        text-align: center;
        box-sizing: border-box;
        background-color: darkgray; 
        border: 1px solid black;
        position: relative;
        overflow: hidden;
    }

    .login-google {
        align-items: center;
        text-align: center;
        width: 343px;
        height: 497px;

        background: #FFFFFF;
        /* Card Shadow */

        box-shadow: 0px 4px 8px rgba(64, 64, 64, 0.08);
        border-radius: 8px;
        margin-top: 50px;
    }

    .user-group {
        display: grid;
        grid-template-rows: 30% 35% 35%;
        width: 295px;
        height: 35px;
        text-align: left;
        justify-content: flex-start;
    }

    .user-group img {
        position: absolute;
    }

    .border-login {
        position: absolute;
        width: 295px;
        height: 1px;
        left: 40px;

        /* DISABLED */

        background: #E4E4E4;
    }

    .title-username {
        position: relative;
        margin-left: 40px;
    }

    .title-email {
        position: relative;
        margin-left: 40px;
        margin-top: 10px;
    }

    .user-group i {
        position: absolute;
        margin-left: 6px;
    }

    .title-another-account {
        font-weight: 600;
        margin-left: 40px;
    }

    .title-desc-google {
        display: flex;
        font-family: 'Rubik';
        font-style: normal;
        font-weight: 400;
        font-size: 10px;
        line-height: 15px;
        text-align: left;

        color: #9B9B9B;
        margin-left: 25px;
    }

    .title-24 {
        font-family: 'Rubik';
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 24px;
    }

    .title-14 {
        font-family: 'Rubik';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 21px;
    }

    .title-10 {
        font-family: 'Rubik';
        font-style: normal;
        font-weight: 400;
        font-size: 10px;
        line-height: 15px;
    }
</style>