<template>
  <div class="home">
    <nav>
      <router-link to="/categories"><p>Category</p></router-link>
      <router-link to="/login" v-if="!user"><p>Login</p></router-link>
      <router-link to="/" @click="signout" v-if="user"><p>Logout</p></router-link>
      <router-link to="/cart"><p>Cart</p></router-link>
    </nav>
    <!--<ul v-for="product in products" :key="product.id"><li>{{product.title}}</li></ul>-->
    <!--<ul v-for="category in categories" :key="category.id"><li>{{category}}</li></ul>-->
  </div>
</template>

<script>
  import Swal from 'sweetalert2'
  export default {
    name: 'HomeView',
    methods: {
      signout() {
        this.$store.dispatch('logout')
        Swal.fire('See Ya')
      }
    },
    computed: {
      user() {
        return this.$store.state.user
      },
    }
  };
</script>

<style>
.home {
  text-align: center;
}
</style>
