<!-- eslint-disable vue/valid-template-root -->
<template>
  <div class="categories">
    <!--<ul v-for="product in products" :key="product.id"><li>{{product.title}}</li></ul>-->
    <!--<ul v-for="category in categories" :key="category.id"><li>{{category}}</li></ul>-->
    <div id="app">
      <main>
        <header class="header">
          <p class="title title-banner">Detail Toko</p>
          <i class="bi bi-search"></i>
        </header>
        
        <section class="profile">
          <div class="container-profile">
            <img src="@/assets/address.png" width="76" height="90">
            <div class="profile-detail">
              <p class="title-2 title-pro">Toko Semesta</p>
              <p class="title-3 address-pro">Jl. Kasipah Raya No. 182, Jatingaleh, Kec. Candisari, Kota Semarang</p>
              <div class="chips-profile">
                <p class="chips-profile-1 title-chips">Express</p>
                <p class="chips-profile-2 title-chips">09.00</p>
                <p class="chips-profile-2 title-chips">16.00</p>
              </div>
            </div>
          </div>
        </section>
        <div class="border-line"></div>
        <img v-if="loading" src="@/assets/spinner.svg" alt="spinner.svg" class="spinner-listctg">
        <section v-else class="categories">
          <h4 class="text-start ms-3 mt-3 mb-3 title-16"><strong>Kategori Produk</strong></h4>
          <div class="container">
              <div class="row">
                <div class="col" v-for="category in categories" :key="category.id">
                  <router-link :to="'/products/'+category" class="nav-link px-2 text-dark">
                    <img src="@/assets/category.png" width="73" height="73">
                    <p class="mt-2 title-12 text-capitalize">{{category}}</p>
                  </router-link>
                </div>
              </div>
          </div>
        </section>
      </main>
    </div>
  </div>
</template>

<script>
  // @ is an alias to /src
  import axios from 'axios'

  export default {
    data(){
      return {
        categories: [],
        loading: false
      }
    },
    mounted() {
      this.getCategories()
    },
    methods: {
      getCategories(){
        this.loading = true;
        axios.get('https://dummyjson.com/products/categories')
        .then(res => {
          this.categories = res.data
        }).catch ((err) => {
          console.log(err);
        }).finally(() => {
          this.loading = false;
        })
      }
    }
  }
</script>

<style>

.categories {
  margin: 0 auto;
  padding: 0 auto;
  min-height: 100vh;
  width: 375px;
  height: 1000px;
  align-items: center;
  text-align: center;
  box-sizing: border-box;
  background-color: #FFFFFF; 
}

.header {
  display: flex;

  width: 370px;
  height: 54px;

  background: #FFFFFF;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.04);
}

.title-banner {
  margin-left: 10px;
  font-weight: 600;
  color: #292929;
}

.bi-search {
 justify-content: flex-end;
 align-items: flex-end;
 margin-right: 20px;
}

.container-profile {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 343px;
  height: 130px;
}

.container-profile img {
  position: absolute;
}

.container-profile .profile-detail {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: start;
  flex-wrap: wrap;
}

.title-pro {
  margin-left: 90px;
}

.address-pro {
  margin-left: 90px;
  margin-top: -10px;
}

.container-profile .chips-profile {
  display: flex;
  flex-direction: row;
  margin-left: 90px;
  margin-top: -10px;
}

.chips-profile-1 {
  padding: 4px 12px;
  color: #FFFFFF;

  width: 56px;
  height: 20px;

  background: #049C0E;
  border-radius: 100px;
  margin-right: 5px;
}

.chips-profile-2 {
  padding: 4px 12px;
  color: #03AC0E;

  width: 47px;
  height: 20px;

  background: rgba(3, 172, 14, 0.22);
  border-radius: 100px;
  margin-right: 5px;
}

.spinner-listctg {
  margin-top: 100px;
}

.title {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}

.title-chips {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 600;
  font-size: 8px;
  line-height: 12px;
}

.title-2 {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
}

.title-3 {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
}

.border-line {
  width: 375px;
  height: 8px;
  left: 0px;
  top: 221px;

  /* White / White400 */

  background: #F5F5F5;

}
</style>
