<!-- eslint-disable vue/multi-word-component-names -->
<!-- eslint-disable no-inner-declarations -->
<!-- eslint-disable no-inner-declarations -->
<!-- eslint-disable vue/multi-word-component-names -->
<template>
  <div class="login">
    <div class="icon">
        <img src="@/assets/gift.png" width="226" height="230">
    </div>
    <div class="text-banner">
        <p class="hai">Hai, fren!</p>
    </div>
    <p class="title-welcome title-16">Selamat Datang di Aplikasi WoiShop</p>
    <section class="form">
        <form @submit.prevent="loginIt">
            <div class="input-group mb-3">
                <i class="bi bi-person-fill"></i>
                <input id="username" type="text" placeholder="Username" class="input-field" v-model="state.username"><br>
                <span v-if="v$.username.$error" class="text-err">{{ v$.username.$errors[0].$message }}</span>
            </div>
            <div class="input-group">
                <i class="bi bi-lock-fill"></i>
                <input id="password" type="password" placeholder="Password" class="input-field" v-model="state.password"><br>
                <span v-if="v$.password.$error" class="text-err">{{ v$.password.$errors[0].$message }}</span>
            </div>


            <button type="submit" class="text-white submit-btn">Masuk</button>
        </form>
    </section>
    <div class="text-line text-12">
        <p class="mt-3">Atau Login Melalui</p>
    </div>
    <section class="button-google">
        <!--
        <router-link to="/login-google">
            <img src="@/assets/google.png" width="16">
            <button @click="loginGoogle">Google</button>
        </router-link>
        -->
        <img src="@/assets/google.png" width="16">
        <button @click="loginGoogle">Google</button>
    </section>
    <span class="text-line-daftar text-12">
        <p class="mt-3" href="/register">Belum punya akun? Daftar <a href="/register">Di Sini</a></p>
    </span>
    <span class="text-line-aturan text-12">
        <p class="mt-4">Dengan masuk atau mendaftar, kamu menyetujui Ketentuan Layanan dan Kebijakan Privasi</p>
    </span>
  </div>
</template>

<script>
import axios from 'axios'
import Swal from 'sweetalert2'
import useValidate from '@vuelidate/core'
import { reactive, computed } from 'vue'
import { required, minLength } from '@vuelidate/validators'
import { googleTokenLogin } from "vue3-google-login"
export default {
    setup () {
        const state = reactive({
            username: 'kminchelle',
            password: '0lelplR'
        })

        const rules = computed(() => {
            return {
                username: { required },
                password: { required, minLength: minLength(6) }
            }
        })

        const v$ = useValidate(rules, state)
        return { state, v$ }
    },
    mounted () {
        this.loginIt
    },
    methods: {
        loginIt() {
            this.v$.$validate();
            if (!this.v$.$error) {
            
            axios.post('https://dummyjson.com/auth/login', {
                username: this.state.username,
                password: this.state.password,
                // expiresInMins: 60, // optional
            })
            .then(res => {
                console.log(res.data.token);
                this.$store.dispatch('login', {
                    username: this.state.username,
                    password: this.state.password,
                });
                Swal.fire('Selamat Datang Kembali '+ this.state.username);
                this.$router.push("/");
            }).catch ((err) => {
                console.log(err);
            })
    
            } else {
                return;
            }
        },
        loginGoogle() {
            googleTokenLogin().then(() => {
                //console.log("Handle the response", response)
                Swal.fire('Selamat Datang Kembali '+ this.state.username);
                this.$router.push("/");
            })
        },
    }
}
/*
.catch ((err) => {
                console.log(err);
                
            })
 loginIt() {
            axios.post('https://dummyjson.com/auth/login', this.login)
            .then(res => {
                let token=res.data.token;
                localStorage.setItem('token', token);
                this.$router.push("/");
            }).catch ((err) => {
                console.log(err);
            })
        }
*/
</script>

<style>

* {
    margin: 0 auto;
  padding: 0 auto;
  box-sizing: border-box;
}

.login {
    min-height: 100vh;
  width: 375px;
  height: 844px;
  align-items: center;
  text-align: center;
  box-sizing: border-box;
  background-color: #FFFFFF; 
  border: 1px solid black;
  position: relative;
  overflow: hidden;
}

.icon {
    margin-top: 20px;
    margin-bottom: 20px;
}

.text-banner .hai{
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;

    /* hijau */

    color: #03AC0E;
}

.title-welcome {
    font-weight: 400;
    color: #292929;
}


form .input-group {
    padding: 16px 24px;

    width: 343px;
    height: 53px;
    margin-bottom: 20px;

    background: #F5F5F5;
    border-radius: 100px;
}

.input-group i {
    position: absolute;
    background: none;
    outline: none;
    border: none;
    color: #ACACAC;
}

.input-group input {
    padding: 10px 30px;
    background: none;
    outline: none;
    border: none;
    
    width: 267px;
    height: 21px;
    
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 25px;

    color: #292929;

}

form button {
    margin-top: 10px;
    align-items: center;
    padding: 16px 24px;

    width: 343px;
    height: 53px;

    background: #03AC0E;
    border-radius: 100px;
    border: none;
}


.text-line {
    font-weight: 600;
    color: #7A7A7A;
}


.button-google {
    align-items: center;
    padding: 10px 24px;

    width: 343px;
    height: 53px;

    background: #FAFAFA;

    border: 1px solid #03AC0E;
    border-radius: 100px;
}

.button-google button {
    background: none;
    outline: none;
    border: none;
    font-weight: 600;
}


.text-line-daftar {
    font-weight: 400;
    color: #7A7A7A;
}

.text-line-daftar a {
    text-decoration: none;
}

.text-line-aturan {
    font-weight: 400;
    color: #7A7A7A;
}

.title-12 {
  font-family: 'Rubik';
  font-style: normal;
  font-size: 12px;
  line-height: 18px;
}

.title-14 {
  font-family: 'Rubik';
  font-style: normal;
  font-size: 14px;
  line-height: 21px;
}

.title-16 {
  font-family: 'Rubik';
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
}

.text-err {
    background: none;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;

    text-align: center;

    /* Primary/Primary400 */

    color: #F62845;
    margin-top: 10px;
}

.input-err {
    border: 1px solid red;
}
</style>