<template>
  <section class="not-found">
    <div>
        <h2 class="mt-5"><strong>404 Not Found</strong></h2>
    </div>
  </section>
</template>

<script>
import axios from 'axios'
export default {
    data(){
      return {
        details: []
      }
    },
    mounted() {
      this.getProducts()
    },
    methods: {
        getProducts(){
        axios.get('https://dummyjson.com/products')
        .then(res => {
          this.details = res.data.products
        }).catch ((err) => {
          console.log(err);
        })
      }
    }
}

</script>


<style>

</style>