<!-- eslint-disable vue/multi-word-component-names -->
<template>
  <div class="register">
    <header class="header-register">
        <nav class="arrow-register">
            <router-link to="/login">
                <i class="bi bi-arrow-left icon-arrow-register"></i>
            </router-link>
        </nav>
        <span class="title-16 title-banner-register">Daftar Baru</span>
    </header>

    <main class="form-registrasi mt-4">
        <form @submit.prevent="registerIt">
            <div class="input-group">
                <i class="bi bi-person-fill"></i>
                <input type="text" placeholder="Username" v-model="state.username">
                <span v-if="v$.username.$error" class="text-err">{{ v$.username.$errors[0].$message }}</span>
            </div>
            <div class="input-group">
                <i class="bi bi-envelope-fill"></i>
                <input type="email" placeholder="Email" v-model="state.email">
                <span v-if="v$.email.$error" class="text-err">{{ v$.email.$errors[0].$message }}</span>
            </div>
            <div class="input-group">
                <i class="bi bi-lock-fill"></i>
                <input type="password" placeholder="Password" v-model="state.password">
                <span v-if="v$.password.$error" class="text-err">{{ v$.password.$errors[0].$message }}</span>
            </div>
            <button type="submit" class="text-white">Daftar</button>
        </form>
    </main>
    <!--
    <div class="button-register">
        <button class="text-white" @click="registerIt">Daftar</button>
    </div>
    -->
  </div>
</template>

<script>
    //import axios from 'axios'
    //import Swal from 'sweetalert2'
    import useValidate from '@vuelidate/core'
    import { reactive, computed } from 'vue'
    import { required, minLength, email } from '@vuelidate/validators'
    export default {
        setup () {
            const state = reactive({
                username: '',
                email: '',
                password: ''
            })

            const rules = computed(() => {
                return {
                    username: { required },
                    email: { required, email },
                    password: { required, minLength: minLength(6) }
                }
            })

            const v$ = useValidate(rules, state)
            return { state, v$ }
        },
        mounted () {
            this.registerIt
        },
        methods: {
            registerIt() {
                this.v$.$validate() // checks all inputs
                if (!this.v$.$error) {
                    this.$router.push("/authentication");
                } else {
                    return;
                }
            }
        }
    }
</script>

<style>
.register {
  margin: 0 auto;
  padding: 0 auto;
  min-height: 100vh;
  width: 375px;
  height: 844px;
  align-items: center;
  text-align: center;
  box-sizing: border-box;
  background-color: #FFFFFF; 
  border: 1px solid black;
}

.header-register {
    display: grid;
    grid-template-rows: 30% 70%;
    padding: 10px 6px;

    width: 370px;
    height: 54px;

    background: #FFFFFF;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.04);
}

.arrow-register {
    position: absolute;
    margin-left: 15px;
}
.icon-arrow-register {
    color: #03AC0E;
}

.title-banner-register {
    font-weight: 600;
    color: #292929;
    margin-left: 50px;
}


form .input-group {
    padding: 16px 24px;

    width: 343px;
    height: 53px;
    margin-bottom: 20px;

    background: #F5F5F5;
    border-radius: 100px;
}

.input-group i {
    position: absolute;
    background: none;
    outline: none;
    border: none;
    color: #ACACAC;
}

.input-group input {
    padding: 13px 30px;
    background: none;
    outline: none;
    border: none;
    
    width: 267px;
    height: 21px;
    
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 25px;

    color: #292929;

}

.button-register button {
    align-items: center;
    padding: 16px 24px;

    width: 343px;
    height: 53px;

    background: #03AC0E;
    border-radius: 100px;
    border: none;
    margin-top: 200px;
}

.title-16 {
  font-family: 'Rubik';
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
}
</style>