<!-- eslint-disable vue/no-use-v-if-with-v-for -->
<!-- eslint-disable no-unused-vars -->
<!-- eslint-disable no-unused-vars -->
<!-- eslint-disable no-unused-vars -->
<!-- eslint-disable no-unused-vars -->
<!-- eslint-disable no-unused-vars -->
<!-- eslint-disable no-unused-vars -->
<!-- eslint-disable vue/multi-word-component-names -->
<template>
  <div class="cart">
   <!--<p>Test: {{productId}}, {{quantityPd}}</p>-->
   <!--<p>Test: {{cart}}</p>-->
    <!--<button @click="getCart">click</button>-->
    <ul v-for="cart in carts" :key="cart.id"><li>ID Cart:{{cart.products.id}}</li></ul>
    <header>
        <nav class="arrow-cart">
            <router-link to="/">
                <i class="bi bi-arrow-left icon-arrow-cart"></i>
            </router-link>
        </nav>
        <span class="title-16 fw-600 title-banner-cart">Keranjang</span>
    </header>
    <!--
    <section class="send-method">
        <p class="title-16 fw-600 ms-3">Pilih Metode Pengiriman</p>
        <hr class="border-cart">
        <section class="option-send-method" name="send">
            <div class="option-group">
                <img src="@/assets/pickup.png" width="32" height="32">
                <p class="title-14 fw-600">Pickup/diambil</p>
                <input type="radio" name="send">
            </div>
            <div class="option-group">
                <img src="@/assets/woishop.png" width="24.19" height="30.19">
                <p class="title-14 fw-600">Ekspress/Kirim Cepat</p>
                <input type="radio" name="send">
            </div>
            <div class="option-group">
                <img src="@/assets/woishop.png" width="24.19" height="30.19">
                <img src="@/assets/clock.png" width="32" height="32">
                <p class="title-14 fw-600">09:00 - 11:00</p>
                <input type="radio" name="send">
            </div>
            <div class="option-group">
                <img src="@/assets/woishop.png" width="24.19" height="30.19">
                <img src="@/assets/clock.png" width="32" height="32">
                <p class="title-14 fw-600">12:00 - 16:00</p>
                <input type="radio" name="send">
            </div>
            <div class="option-group">
                <img src="@/assets/woishop.png" width="24.19" height="30.19">
                <img src="@/assets/clock.png" width="32" height="32">
                <p class="title-14 fw-600">18:00 - 20:00</p>
                <input type="radio" name="send">
            </div>
        </section>
    </section>
    -->
    <main>
        <form>
            <p class="title-16 fw-600 ms-3">Pilih Metode Pengiriman</p>
            <hr class="border-cart">
            <section class="option-send-method" name="send">
                <div class="option-group">
                    <img src="@/assets/pickup.png" width="32" height="32">
                    <p class="title-14 fw-600">Pickup/diambil</p>
                    <input type="radio" name="send">
                </div>
                <div class="option-group">
                    <img src="@/assets/woishop.png" width="24.19" height="30.19">
                    <p class="title-14 fw-600">Ekspress/Kirim Cepat</p>
                    <input type="radio" name="send">
                </div>
                <div class="option-group">
                    <img src="@/assets/woishop.png" width="24.19" height="30.19">
                    <img src="@/assets/clock.png" width="32" height="32">
                    <p class="title-14 fw-600">09:00 - 11:00</p>
                    <input type="radio" name="send">
                </div>
                <div class="option-group">
                    <img src="@/assets/woishop.png" width="24.19" height="30.19">
                    <img src="@/assets/clock.png" width="32" height="32">
                    <p class="title-14 fw-600">12:00 - 16:00</p>
                    <input type="radio" name="send">
                </div>
                <div class="option-group">
                    <img src="@/assets/woishop.png" width="24.19" height="30.19">
                    <img src="@/assets/clock.png" width="32" height="32">
                    <p class="title-14 fw-600">18:00 - 20:00</p>
                    <input type="radio" name="send">
                </div>
            </section>
            <section class="header-order-section">
                <p class="title-16 fw-600 ms-3">Pesanan</p>
                <router-link to="/categories" class="router-add-product"><span class="title-12 fw-600">+ Tambah Pesanan</span></router-link>
            </section>
            <hr class="border-cart">
            <div v-if="!cart.length" class="d-flex flex-column">
                <img src="@/assets/pdnotfound.png" width="253" height="238">
                <p class="title-14 fw-600 mt-3">Keranjang Kosong</p>
                <p class="title-14 fw-400 text-center ms-3 me-3 text-wrap">Maaf sepertinya keranjang kamu masih kosong, yuk mulai belanja</p>
            </div>
            <div>
            <section class="wrap-order-group" v-for="(item, index) in cart" :key="index" v-bind:value="index">
                <div class="product-group">
                    <i class="bi bi-x-circle-fill icon-x"></i>
                    <div class="info-product">
                        <p class="product-name title-14 fw-400 mt-2">{{item.product.title}}</p>
                        <div class="product-price-group">
                            <p class="product-price title-16 fw-600">
                                Rp. {{(item.product.price * 1000).toLocaleString()}}
                            </p>
                            <span class="counter-group">
                                <i class="bi bi-dash-circle me-3" width="24" height="24" @click="decreaseQ(item.product.id)"></i>
                                <span class="me-3">{{item.quantity}}</span>
                                <i class="bi bi-plus-circle-fill" width="24" height="24" @click="increaseQ(item.product.id)"></i>
                            </span>
                        </div>
                    </div>
                </div>
                <hr class="border-cart-dashed mb-3 mt-3">
            </section>
            <section class="total-cart title-14 fw-600" v-if="cart.length">
                <p>Total Harga</p>
                <span>Rp. {{(cartTotalPrice * 1000).toLocaleString()}}</span>
            </section>
            <p class="border-cart-solid"></p>
            <section class="note-cart">
                <p class="title-16 fw-600 ms-3">Tambahkan Catatan</p>
                <hr class="border-cart">
                <div class="input-note-cart">
                    <i class="bi bi-pencil-square"></i>
                    <input type="text" placeholder="Masukkan catatan di sini">
                </div>
                <hr>
                <div class="total-all-cart title-14 fw-500">
                    <p>Total Pembayaran</p>
                    <span>Rp. {{ (cartTotalPrice * 1000).toLocaleString()}}</span>
                </div>

                <div></div>
                <button class="btn-cart title-14 fw-500 ms-3 mb-5" @click="postProduct(this.productId, this.quantityPd)">Buat Pesanan</button>

            </section>
            </div>
        </form>
    </main>

    <!--
    <div class="note-cart">
        <p class="title-16 fw-600 ms-3">Tambahkan Catatan</p>
        <hr class="border-cart">
        <form class="form-note-cart">
            <i class="bi bi-pencil-square"></i>
            <input type="text" placeholder="Masukkan catatan di sini">
        </form>
        <hr>
        <div class="total-all-cart title-14 fw-500">
            <p>Total Pembayaran</p>
            <span>Rp. 12.000</span>
        </div>
        <button class="btn-cart title-14 fw-500 ms-3">Buat Pesanan</button>
    </div>
    -->
  </div>
</template>

<script>
//import axios from 'axios'
import Swal from 'sweetalert2'
export default {
    methods: {
        mounted() {
            this.addJK()
        },
        postProduct(id, quantity) {
            if(this.$store.dispatch('postProducts', {id, quantity}) && this.cart.length) {
                Swal.fire('Pesanan Berhasil Dibuat')
                this.$router.push('/all-carts')
            } else {
                Swal.fire('Produk Tidak Ditemukan');
            }
        },
        decreaseQ(id) {
            return this.$store.commit('decreaseQuantity', id)
        },
        increaseQ(id) {
            return this.$store.commit('increaseQuantity', id)
        },
    },
    computed: {
        cart() {
            return this.$store.state.cart
        },
        cartTotalPrice() {
            return this.$store.getters.cartTotalPrice
        },
        productId() {
           return this.cart.map(item => item.product.id)
        },
        quantityPd() {
            return this.cart.map(item => item.quantity)
        },
        addJKL() {
            return this.cart.map(item => item.product.id)
        }
    },
}
</script>

<style>
    .cart {
        margin: 0 auto;
        padding: 0 auto;
        min-height: 100vh;
        width: 375px;
        /*height: 1124px;*/
        box-sizing: border-box;
        background-color: #FFFFFF; 
        border: 1px solid black;
    }

    header {
        display: grid;
        grid-template-rows: 30% 70%;
        padding: 10px 6px;

        width: 370px;
        height: 54px;

        background: #FFFFFF;
        box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.04);
        margin-bottom: 24px;
    }

    .arrow-cart {
        position: absolute;
        margin-left: 10px;
    }

    .icon-arrow-cart {
        color: #03AC0E;
    }

    .title-banner-cart {
        font-weight: 600;
        color: #292929;
        margin-left: 40px;
    }

    .border-cart {
        width: 343px;
        height: 1px;

        /* White / White500 */

        background: #EBEBEB;
        margin-left: 15px;
        margin-top: -3px;
        margin-bottom: 11px;

    }

    .option-send-method .option-group {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 16px;
        gap: 59px;

        width: 343px;
        height: 64px;

        /* White / White200 */

        background: #FAFAFA;
        /* White / White500 */

        border: 1px solid #EBEBEB;
        border-radius: 16px;

        margin-bottom: 16px;
    }

    .option-group img {
        position: absolute;
    }

    .option-group p {
        margin-top: 15px;
        margin-left: 48px;
    }

    .option-group input {
        background: #C8C8C8;
        border-radius: 100px;
        justify-items: flex-end;
    }

   .header-order-section {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 32px;
   }

   .header-order-section p {
        justify-items: flex-start;
        align-items: flex-start;
        margin-left: 15px;
   }

   .header-order-section .router-add-product {
        justify-items: flex-end;
        align-items: flex-end;
        margin-right: 15px;
        text-decoration: none;
        color: #03AC0E;
   }

   .wrap-order-group {
        display: flex;
        flex-direction: column;
        width: 343px;
        height: 53px;
        margin-top: 16px;
   }

   .product-group {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
        width: 343px;
        height: 53px;
   }

    .product-group .icon-x {
        position: absolute;
        justify-content: flex-start;
        align-items: flex-start;
        margin-left: 3px;
        margin-top: 20px;
        width: 24px;
        height: 24px;
        color: #CCCCCC;
    }

    .product-group .info-product {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        text-align: left;
    }

    .info-product .product-name {
        align-items: flex-start;
        justify-content: flex-start;
        margin-left: 36px;
        margin-bottom: 8px;
    }

    .info-product .product-price-group {
        display: flex;
        flex-direction: row;
    }

    .product-price-group .product-price {
        align-items: flex-start;
        justify-content: flex-start;
        margin-left: 36px;
    }

    .product-price-group .counter-group {
        align-items: flex-end;
        justify-content: flex-end;
        margin-left: 130px;
    }

    .counter-group i {
        color: #03AC0E;
    }

    .border-cart-dashed {
        width: 343px;
        height: 1px;

        /* White / White500 */

        border: 1px dashed black;
        margin-top: 24px;
    }

    .total-cart {
        display: flex;
        flex-direction: row;
        /*margin-top: 145px;*/
        margin-top: 40px;
    }

    .total-cart p {
        margin-left: 15px;
        align-items: flex-start;
        justify-content: flex-start;
    }

    .total-cart span {
        margin-right: 15px;
        align-items: flex-end;
        justify-content: flex-end;
    }

    .border-cart-solid {
        width: 374px;
        height: 8px;
        background: #FAFAFA;
        margin-top: 2px;
    }

    .input-note-cart {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 16px 24px;
        gap: 12px;

        width: 343px;
        height: 53px;

        /* White / White200 */

        background: #FAFAFA;
        border-radius: 16px;
    }

    .input-note-cart i {
        position: absolute;
    }

    .input-note-cart input {
        background: none;
        outline: none;
        border: none;
        margin-left: 25px;
        margin-top: 16px;
        margin-bottom: 16px;
    }

    .total-all-cart {
        display: flex;
        flex-direction: row;
    }

    .total-all-cart p {
        margin-left: 15px;
        align-items: flex-start;
        justify-content: flex-start;
    }

    .total-all-cart span {
        margin-right: 15px;
        align-items: flex-end;
        justify-content: flex-end;
    }

    .btn-cart {
        width: 343px;
        height: 48px;

        /* hijau */

        background: #03AC0E;
        border-radius: 100px;
        color: #FFFFFF;

        align-items: center;
        justify-content: center;
        padding: 16px 24px;

        border-radius: 100px;
        border: none;
        text-align: center;
    }

    .title-16 {
        font-family: 'Rubik';
        font-style: normal;
        font-size: 16px;
        line-height: 24px;
    }

    .title-14 {
        font-family: 'Rubik';
        font-style: normal;
        font-size: 14px;
        line-height: 21px;
    }

    .title-12 {
        font-family: 'Rubik';
        font-style: normal;
        font-size: 12px;
        line-height: 18px;
    }

    .fw-600 {
        font-weight: 600;
    }

    .fw-500 {
        font-weight: 500;
    }

    .fw-400 {
        font-weight: 400;
    }

</style>