<template>
  <nav>
    <!--<router-link to="/">Home</router-link> | -->
    <!--<router-link to="/about">About</router-link>-->
  </nav>
  <router-view/>
</template>

<style>

@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

* {
  font-family: 'Rubik', sans-serif;
}

</style>
